@using MusicViewer.Models
@model MusicViewer.Models.SongViewModel
@{
    ViewBag.Title = "Index";
}

<h2>Songs</h2>

<table class="table">
    <thead>
        <tr>
            <th>Title</th>
            <th>Artist</th>
            <th>Album</th>
            <th>Year</th>
            <th>Track</th>
        </tr>
            
        
    </thead>
    <tbody>
        @if (Model.Songs != null)
        {
            foreach (Song s in Model.Songs)
            {
                <tr>
                    <td>@Html.ActionLink(s.Title == "" ? "No title" : s.Title ?? "No title", "Get", new { id = s.Id })</td>
                    <td>@s.Artist.Name</td>
                    <td>@Html.ActionLink(s.Album.Name, "Get", "Album", new { id = s.Album.Id }, null)</td>
                    <td>@s.Album.Year</td>
                    <td>@s.Track</td>
                </tr>
            }
        }
       
    </tbody>
</table>
